<phpunit bootstrap="boot.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Tests">
            <file>OptionsStorageTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
